body{
    height:1200px;
}
.div{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100%;
    background-image: url("https://i.ibb.co/qNv7NxZ/pc.webp");
    background-repeat: no-repeat;
    width:100%;
    background-size: cover;
}
.section{
    height: 700px;
    border-radius: 20px;
    width: 85%;
}
.a{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    opacity: 0.8;
    background-color: white;
}
.b{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(70, 67, 67);
}
.btn{
    width:20%;
}
.inp{
    background-color: white;
    opacity: 1;
    z-index: 1;
}
.font{
    font-size: 4em;
}
/* .psuedo::after{
 content: "°C";
 font-size:2.5em;
 transform: translate(5%,10%);
} */
.time{
    margin-top: -20px;
    font-size: 1.15em;
}
.location{
    position: relative;
    top:23%;
    left:5%;
}
.btn1:hover{
    color: rgb(60, 92, 233);
}
.btn2:hover{
    color: rgb(60, 92, 233);
}
.btn3:hover{
    background-color: rgb(24, 43, 214);
}
.btn4:hover{
    background-color: rgb(24, 43, 214);
}
.h{
    height:140px;
    width:120px;
    border-radius:20px;
    background-color: aliceblue;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.k{
    height:150px;
    width:100%;
    border-radius: 20px;
    background-color: aliceblue;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:10px;
}
.img1{
    width:50%;
}
.appInfo{
    display:flex;
    justify-content: center;
    /* border:1px solid red; */
    flex-wrap: wrap;
    height: 70px;
    align-content: flex-end;
    font-size:1.2em;
}
.appInfo p{
    padding:0px;
}